boto==2.39.0
bz2file==0.98
cloudpickle==0.2.1
cymem==1.30
Cython==0.23.4
decorator==4.0.9
flake8==2.5.4
future==0.15.2
gensim==0.12.4
httpretty==0.8.10
ipykernel==4.3.1
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
MarkupSafe==0.23
mccabe==0.4.0
mistune==0.7.2
murmurhash==0.26.1
nbconvert==4.1.0
nbformat==4.0.1
nltk==3.2
notebook==4.1.0
numpy==1.10.4
oauthlib==1.0.3
path.py==8.1.2
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.6
plac==0.9.1
preshed==0.46.2
ptyprocess==0.5.1
pyflakes==1.0.0
Pygments==2.1.3
python-twitter==3.0rc1
pyzmq==15.2.0
qtconsole==4.2.0
requests==2.9.1
requests-oauthlib==0.6.1
scikit-learn==0.17.1
scipy==0.17.0
semver==2.4.1
simplegeneric==0.8.1
six==1.10.0
smart-open==1.3.2
spacy==0.100.6
sputnik==0.9.2
terminado==0.6
textblob==0.11.1
thinc==5.0.6
tornado==4.3
traitlets==4.1.0
tweepy==3.5.0
ujson==1.35
validators==0.10
